body {
  margin: 0;
  padding-bottom: 50px;
}

div.container {
  padding: 0 50px;
}

div.head {
  margin: 0 0 30px 0;
  background: #504f4f;
  font-size: 3em;
  color: #FFF;
  text-align: right;
  padding: 30px;
}

div.source {
  color: #828282;
  margin: 20px 0;
  font-style: italic;
  padding-left: 2em;
  position: relative;
}

div.source:before {
  content: "—";
  position: absolute;
  left: 0px;
}

hr {
  margin: 40px 0;
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #b5b5b5;
  padding: 5px;
}

div.footer a {
  color: white;
}